@CHARSET "UTF-8";
/* 样式设置 */
.company-register{
	width: 60%;
    margin: 0 auto;	
    margin-top: 50px;
    min-width: 250px;
    max-width: 500px;
}

.company-register .tr-logo{
	text-align: center;
    padding: 15px;
    padding-left: 110px;
}
.tr-logo .logo-img{
	width: 100px;
}

.company-register .tr-main{
	
}

.company-register .tr-btns-con{
	text-align: center;
    padding-left: 110px;
}

.company-register .tr-img-code{
	position: absolute;
	top: 0px;
	right: 0px;
	border: 1px solid #efefef;
	height: 36px;
	width: 100px;
	cursor: pointer;
}