<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<meta name="description" content="遇见巴士-首页">
	<meta name="keywords" content="遇见巴士,首页">
	<meta name="author" content="qfc">
	<title>遇见巴士-首页</title>
	<style type="text/css">
		.footer{
			position: fixed;
		    bottom: 0px;
		    left: 40%;
		}
		.footer a {
			color: #666;
			font-size: 14px;
			text-decoration: none;
		}
	</style>
</head>
<body>
	<h1>遇见巴士-首页</h1>
	
	<div class="footer">
		<p><a href="http://www.beian.miit.gov.cn/" target="_blank">Copyright© 蜀ICP备17038975号</a></p>
	</div>
</body>
</html>